html,
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  max-width: 1064px;
}

.titleWrapper {
  height: 500px;
  width: 100%;
  background-color: grey;
  display: flex;
}

.title {
  margin: auto;
  background-color: #D3D3D3B3;
  color: white;
  padding: 2rem;
}

.textWrapper {
  text-align: center;
  padding: 1rem 5rem;
}
@media (max-width: 600px) {
  .textWrapper {
    padding: 1rem 1rem
  }
}