.image {
  position: relative;
  height: 500px;
  opacity: 0.6;
  max-width: 1064px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .image {
    height: 200px;
  }
}

.imageWrapper {
  display: block;
  text-align: center;
  opacity: 0.9;
  margin: 2rem auto;
  padding: 1rem;
}

.circle {
  border-radius: 100%;
}

.wrapper {
  position: absolute;
  left: 40%;
  top: 20%;
  z-index: 1;
  padding: 1rem;
  background-color: #D3D3D3B3;
  color: white;

}

@media (max-width: 600px) {
  .wrapper {
    left: 20%;
    top: 10%;
  }
}

.timetable {
  text-align: center;
}

.details {
  text-align: center;
  margin: 2rem auto;
  font-weight: 700;
}

.titleWrapper {
  height: 500px;
  width: 100%;
  background-color: grey;
  display: flex;
}

.title {
  margin: auto;
  background-color: #D3D3D3B3;
  color: white;
  padding: 2rem;
}